* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: lightblue;
}

h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-top: 1rem;
    text-align: center;
}

/*Class selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb (0 0 0 /10%);
    padding: 1rem;
    background-color: lightblue;
}